<!DOCTYPE html>
<html lang="pt-BR">
   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<head>

    <meta charset="UTF-8">
    <title>Gym Manager</title> 
</head>
<body>
    <header>
        <div class="links">
            
            <a href="/instructors">Instrutores</a>
            <a href="/members">Membros</a>

        </div>
    </header>
    {%block content%}
 

    {%endblock%}

</body>
</html>