 {% extends "layout.njk"%}
 {%block content%}
    <section>
    <div class="flip">
    <div class="front">
        <img src="imagens/imagen card.png" alt="">
        
    </div>
    <div class="back">
        <h1>Pedro Edilson - Ferrugem</h1>
        <h2>Programador Full-Stack</h2>
        <p>Estudante de engenharia de materais, no qual busca conhecer cada vez mais areas de estudos para mais conhecimento entre em contato por qualquer via abaixo
            <div class="imglink"> <a href="https://api.whatsapp.com/send?phone=5586981941603"><img src="imagens/whatsapp.png" alt=""></a> <a href="https://www.instagram.com/pedro_edilson18"><img src="imagens/instagram.png" alt=""></a>
            </div>  
        </p>
    </div>
</div>
</section>
 {%endblock%}

