<!DOCTYPE html>
<html lang="pt-BR">
   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<head>

    <meta charset="UTF-8">
    <title>Pedro edilson</title> 
</head>
<body>
    <header>
        <div class="links">
            
            <a href="https://www.instagram.com/pedro_edilson18">Instagram</a>
            <a href="https://github.com/GordeliciaTK">Github</a>
            <a href="https://www.linkedin.com/in/pedro-edilson-503533235/">Linkedin</a>
            <a href="/videos">Videos</a>
        </div>
    </header>
    {%block content%}

    {%endblock%}

</body>
</html>