{% extends "layout.njk"%}
 {%block content%}

    <section class="cards"> 
    <div class="card" id="9BlnxoT5x0k">
        <div class="card_imge">
            <img src="https://img.youtube.com/vi/9BlnxoT5x0k/maxresdefault.jpg" alt="">
        </div>
        <div class="card_content">14 MISTÉRIOS QUE FORAM ESQUECIDOS PELO ODA</div>
        <div class="card_info">
            <p>17:20 min</p>
            <p class="card_price">FREE</p>
        </div>
        
    </div>   
    <div class="card" id="gwCMl0QOek0">
        <div class="card_imge">
            <img src="https://img.youtube.com/vi/gwCMl0QOek0/maxresdefault.jpg" alt="">
        </div>
        <div class="card_content">ODA GÊNIO!! SPOILER DO FUTURO DE AOKIJI EM ONE PIECE?!</div>
        <div class="card_info">
            <p>23:20 min</p>
            <p class="card_price">FREE</p>
        </div>
        
    </div> 
    <div class="card" id="qqNNa5jFqjE">
        <div class="card_imge">
            <img src="https://img.youtube.com/vi/qqNNa5jFqjE/maxresdefault.jpg" alt="">
        </div>
        <div class="card_content">5 PERSONAGENS QUE SOLARIAM KAIDO E QUE 5 QUE SERIAM HUMILHADOS</div>
        <div class="card_info">
            <p>11:30 min</p>
            <p class="card_price">FREE</p>
        </div>
        
    </div> 
    <div class="card" id="EIJrJcikzm0">
        <div class="card_imge">
            <img src="https://img.youtube.com/vi/EIJrJcikzm0/maxresdefault.jpg" alt="">
        </div>
        <div class="card_content">SEGUNDA TEMPORADA DE ONE PIECE SAI ANO QUE VEM? CROCODILE CONFIRMADO?</div>
        <div class="card_info">
            <p>17:20 min</p>
            <p class="card_price">FREE</p>
        </div>
        
    </div> 
    
   
        
    </div>  
    </section>
<div class="modal_overlay">
    <div class="modal">
       <div class="close_modal">
        <span class="material-symbols-outlined">
            close
            </span>
       </div>
       <div class="modal_contant">
        <iframe src="" frameborder="0"></iframe>
    </div>
    </div>
</div>

    <div id="links footer" class="links2">
        <a href="https://www.instagram.com/pedro_edilson18">Instagram</a>
        <a href="https://github.com/GordeliciaTK">Github</a>
        <a href="https://www.linkedin.com/in/pedro-edilson-503533235/">Linkedin</a>
    </div>
    <script src="scripts.js"></script>
    {%endblock%}