{% extends "layout.njk"%}
 {%block content%}
 
    <section class="cards"> 
   {% for item  in items %}
    <div class="card" id={{item.id}}>
        <div class="card_imge">
            <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="">
            {% if item.featured %}
            <div class="featured">Em Alta !!!</div>
            {% endif %}
        </div>
        <div class="card_content">{{item.title}}</div>
        <div class="card_info">
            <p>{{item.duration}}</p>
            <p class="card_price">{{item.price}}</p>
        </div>
        
    </div>   
    {% endfor %}
    </section>


<div class="modal_overlay">
    <div class="modal">
       <div class="close_modal">
        <span class="material-symbols-outlined">
            close
            </span>
       </div>
       <div class="modal_contant">
        <iframe src="" frameborder="0"></iframe>
    </div>
    </div>
</div>

    <div id="links footer" class="links2">
        <a href="https://www.instagram.com/pedro_edilson18">Instagram</a>
        <a href="https://github.com/GordeliciaTK">Github</a>
        <a href="https://www.linkedin.com/in/pedro-edilson-503533235/">Linkedin</a>
    </div>
    <script src="scripts.js"></script>
    {%endblock%}