 <div class ="item" >
              <div> DIGITE SEU NOME</div>
              <input type="text" name="name" placeholder="Nome Completo"  value= '{{instructor.name}}' >
        </div>  
        <div class ="item" >
              <div> SUA FOTO</div>
              <input type="url" name="avatar_url" placeholder="Link da sua foto" value='{{instructor.avatar_url}}' >
        </div>  
         <div class ="item">
              <div> Digite sua data de nascimento</div>
              <div> 
                  <input type="date" name="birth"  value='{{instructor.birth}}' > 
              </div>
        </div>  
        <div class ="item">
              <div> Qual sua sexualidade ?</div>
              <div> 
                  <span><input type="radio" name="gender" value= "Masculino" {% if instructor.gender == 'Masculino' %}  checked {% endif %}}   >  MASCULINO</span>
                  <span><input type="radio" name="gender" value= "Femenino" {% if instructor.gender == 'Femenino' %}  checked {% endif %}}>  FEMININO</span>
                  <span><input type="radio" name="gender" value= "Outros" {% if instructor.gender == 'Outros' %}  checked {% endif %}}>  OUTROS</span>
                  <span><input type="radio" name="gender" value= "Transgênero" {% if instructor.gender == 'Transgênero' %}  checked {% endif %}}>  TRANSGÊNERO</span>
                  <span><input type="radio" name="gender" value= "Não Binário" {% if instructor.gender == 'Não Binário' %}  checked {% endif %}}>  NÂO BINÁRIO</span>
              </div>
        </div>  
        <div class ="item">
              <div> Especialidades </div>
              <div> 
               <input type="text" name="services" placeholder="separe por virgula" value='{{instructor.services}}'>
              </div>
        </div>  


       